:root{
    --mainColor: #181818;
    --secondaryColor: #000000;
    --tertiaryColor: #000000;
    --quaternaryColor: #0a0a0a;

    --borderColor: #3d3d3d;

    --mainText: #FFFF;
    --secondaryText: #eeeeee;

    --themeDotBorder: #3d3d3d;
}